body {
 font-family: verdana;
    background-color: #554488;
    color:red;
    margin-top: 35px;
    font-size: 20px;

}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

