body {
    
    font-family: verdana;
    background-color: white;
    color:red;
    margin-top: 35px;
    font-size: 25px;

}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

